<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="login.css">
    <title>Login & Registration Form</title>
</head>

<body>
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>

                <form action="/login-back" method="POST">
                    
                    <div class="input-field">
                        <input type="text" name="email" placeholder="Enter your email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" name="password" class="password" placeholder="Enter your password" required>
                        <i class="uil uil-lock icon"></i>
                    </div>
                    <div class="input-field button">
                        <input type="submit" name="login" value="Login">
                    </div>
                </form>
                <% if (typeof message !== 'undefined' && message) { %>
                    <div class="err"><%- message %></div>
                <% } %>
                <div class="login-signup">
                    <span class="text">Not a member?
                        <a href="http://localhost:9082/inscription" class="text signup-link">Signup Now</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>