<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="acceuil.css" />
    </head>
    <body>
        <header id="header">
            <h1 id="logo">SmartSpend</h1>
            <nav id="navigation">
                <a href="/">Home</a>
                <a href="http://localhost:9081/login">Login</a>
                <a href="http://localhost:9082/inscription">Sign Up</a>
                <a href="/contact">contact</a>
                
            </nav>
        </header>
        <section id="section">
            Welcome to SmartSpend – Your Personal Finance Companion!
            Take control of your finances and embark on a journey towards financial freedom with SmartSpend. 
            Our intelligent platform empowers you to track your spending, 
            set meaningful financial goals, 
            and make informed decisions to optimize your wealth. 
            Start your path to financial well-being today with SmartSpend!
        </section>
    </body>
</html>
