<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="inscription.css">
         
    <title>Login & Registration Form</title> 
</head>
<body>
    
    <div class="container">
            <div class="form signup">
                <span class="title">Registration</span>

                <form name="fo" action="/inscription-back" method="POST">
                    <div class="input-field">
                        <input type="text" placeholder="Entrez votre nom" name="nom" required>
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Entez votre prénom" name="prenom" required>
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Entrez votre email" name="email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Créer votre mot de passe" name="mdp" required>
                        <i class="uil uil-lock icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Confirmez votre mot de passe" name="rmdp" required>
                        <i class="uil uil-lock icon"></i>
                    </div>
                    <div class="input-field button">
                        <input type="submit" value="S'inscrire" name="valider">
                    </div>
                </form>
                
                <% if (typeof message !== 'undefined' && message) { %>
                    <%- message %>
                <% } %>

                <div class="login-signup">
                    <span class="text">Already a member?
                        <a href="http://localhost:9081/login" class="text login-link">Login Now</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>